html {
  background-color: #659ec7;
}

header {
  background-color: #659ec7;
}

h1 {
  color: #fff;
}

nav a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #f9f1f1;
  text-decoration: underline;
}

.homeh1 {
  color: #2554c7;
}

.pricingh1 {
  color: #2554c7;
}

.featuresh1 {
  color: #2554c7;
}

.sign-uph1 {
  color: #2554c7;
}

.alternative {
  background-color: #fff;
}

.btn {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

td {
  text-align: center;
  border: none;
}

th {
  border: none;
}

.pricing {
  background-color: #f9f9f9;
}

.banner-index {
  background-image: url("../images/gilles-lambert-8649-unsplash.jpg");
  min-height: 400px;
  background-size: cover;
  background-position: 50% 50%;
}

.banner-tour {
  background-image: url("../images/laptop-2589420.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: 50% 50%;
}

.banner-pricing {
  background-image: url("../images/lauren-mancke-69437-unsplash.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: 50% 0%;
}

.banner-sign-up {
  background-image: url("../images/lauren-mancke-69437-unsplash.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: 50% 50%;
}
